@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --gold: #ff7200;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--gold);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: #f7f7f7;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.heading span {
    color: var(--gold);
}

.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--gold);
    color: var(--gold);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--gold);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

#logo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
    padding-right: .5rem;
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--gold);
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .contentip {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
    font-size: 3px;
}

.home .image {
    flex: 1 1 40rem;
    width: 100%;
}

.home .image img {
    width: 100%;
    padding: 1rem;
    width: 100%;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(3rem);
    }
}

.home .contentip h3 {
    font-size: 5rem;
    color: #333;
}

.home .contentip p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

<!-- about us page --->.slogan {
    color: #ffa500;
}

.desc {
    /*width: 50%;*/
    /*margin: 20px;*/
    /* padding: 20px;*/
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*  border-style: solid;
  guiders that locates the divs 
    border: 1px 1px 1px 1px solid rgb(0, 0, 0);*/
}

.aboutus {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.abtimg {
    height: 400px;
    margin: 0px;
}

.mothercontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-around;
    /*background-color:#ff7200;*/
    margin-left: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 400px;
    justify-content: space-evenly;
    /* guides you to knoe the exact size position  background-color: #ff7200;*/
    margin-left: 30px;
}

.descorder {
    margin: 10px;
    text-align: center;
    justify-content: space-evenly;
}

.whyus {
    height: 180px;
    margin-top: -200px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* direction guiders/divs border-style: solid;  border: 1px 1px 1px 1px solid rgb(0, 0, 0);*/
}


/* media queries  */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-bar {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
    .order .row form .inputBox input {
        width: 100%;
    }
}

/*@import url(http);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,input,textarea{
    font-family:  "poppins",sans-serif;

}*/
.contacts .container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fcf7f7;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts .form{
    width: 100%;
    min-width: 820px;
    height: 500px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.contacts .contact-form{
    background-color: #1abc9c;
    position: relative;
}
.contacts.circle{
    border-radius: 50%;
    background-color: linear-gradient(135deg,trasparent 20%,#149279);
    position: absolute;
}
.contacts .circle.one{
    width: 130px;
    height:130px;
    top: 130px;
    right: -40px;
}
.contacts .circle.two{
    width: 80px;
    height:80px;
    top: 10px;
    right: 30px;
}
.contacts .contact-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
.contacts form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.contacts .title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 0.9rem;
}
.contacts .input-container{
   position: relative;
   margin: 2rem 0;
}
/*label{
    display: none;
}*/
.contacts input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
.contacts textarea.input{
    padding: 0.8rem 1.9rem;
    min-height: 100px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
    background-color: #1abc9c;
    border: 2px solid #fafafa;
}
.contacts .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50px);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;

}
/*.input-container.textarea label{
    top: 1rem;
    transform:translateY(0) ;
}*/
.contacts .btn{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    border-radius: 15px;
    outline: none;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    top: 10px;

}
.contacts .btn:hover{
    background-color: transparent;
    color: #fff;
}

.contacts .input-container span{
    position: absolute;
    top:0;
    left: 25px;
    transform: translateY(-50px);
    padding: 0 0.4rem;
    font-size: 0.8rem;
    pointer-events: none;
    z-index: 500;
    color: transparent;
    
}
.contacts .input-container span::before,
.input-container span::after{
    position: absolute;
    top: 50%;
    content: "";
   height: 5px;
    opacity: 0;
    transform: 0.3s;
    background-color: #1abc9c;
    transform: translateY(-50px);
     width:10%;
    
}
.contacts .input-container span::before{
    left: 50%;
}
.contacts .input-container span::after{
    right: 50%;
}

.contacts .input-container.focus label{
    top: 0;
    transform: translateY(-50px);
    left: 25px;
    font-size: 0.8rem;
}
.contacts.input-container span::before,
.input-container span::after{
    width: 50%;
    opacity: 1;
}
*/
.contacts .icon{
    width: 28px;
}
.contacts .contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contacts .contact-info .title{
    color: #1abc9c;
}
.contacts .text{
    color: #333;
    margin: 1.5 0 2rem 0;
   
}
.contacts .information{
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size:0.95rem ;

}
.contacts.icon{
    width: 28px;
    margin-right: 5px;
}

.contacts .social-media{
    padding: 2rem 0 0 0;
}
.contacts .social-media p{
    color: #333;
}
.contacts .social-icons{
    display: flex;
    margin-top:0.5rem ;
}
.contacts .social-icons a{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg,#1abc9c);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 00.3s;

}
.contacts .social-icons a :hover{
    transform: scale(1.05);
}
.contacts .contact-info::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #1abc9c;
    border-radius: 50%;
    bottom: -7px;
    right: 50px;
    opacity:0.3;
}
/*.bigcircle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom,#1cd4af,#159b80);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%,38%);
}
